h1 {
    text-align:center;
    font-family: 'Sigmar One', cursive;
    color:#c2d4d8;

}

.footer{
    text-align:center;
}

.body {
    background-color:#dbe9d8; 
}

.menuitem{
    font-size:20px;
}

.required {
    font-weight:bold;
}