h1 {
    text-align:center;
    font-family: 'Sigmar One', cursive;
    color:#c2d4d8;

}
.carousel-inner h1{
color:black;
}

.footer{
    text-align:center;
    background-color:#dbe9d8;
}

.container-fluid {
    background-color:#dbe9d8;

}

.required {
    font-weight:bold;
}

a:link {

}

a:visited{
color:red;
}

a:hover{
font-weight:bold;
}

a:active{
text-decoration:none;
}


