body {
    /*color:cornflowerblue;*/
    background-color: antiquewhite;
}
td {
    font-style:italic;
}
tbody {
    background-color:lightsteelblue;
}
.center {
    text-align:center;
    font-family: 'Gloria Hallelujah', cursive;
}

#link-container {
    text-align:center;
    
}



.background{
    background-image: url("home.png");
    background-repeat:no-repeat;
    margin:auto;
    background-position:center;
    background-attachment: scroll;
    width:250px;
    height:250px;
    border: 1px solid #ddd;
    border-radius: 6px;

}
#album {
    text-align:center;
    font-family: 'Amatic SC', cursive;
    font-size:42;
}

h4 {
    text-align:center;
}

a:link {
text-decoration: none;
color:blue;
text-align:center;


}

a:visited{
text-decoration: none;
}

a:hover {
text-decoration:underline;
background-color:darkcyan;
}

a:active {
text-decoration:none;
}