

* {
    /*color:cornflowerblue;*/
    background-color: antiquewhite;
}
#album {
    text-align:center;
    font-family: 'Amatic SC', cursive;
    font-size:42;
}
.center {
    text-align:center;
    font-family: 'Gloria Hallelujah', cursive;
}

#link-container {
    text-align:center;
    
}

#link {
    text-decoration: none;
    color:darkcyan;
}

.background{
    background-image: url("home.png");
    background-repeat:no-repeat;
    margin:auto;
    background-position:center;
    background-attachment: scroll;
    width:250px;
    height:250px;
    border: 1px solid #ddd;
    border-radius: 6px;

}

