h1 {
    text-align:center;
    font-family: 'Sigmar One', cursive;
    color:#c2d4d8;

}

.footer{
    text-align:center;
}

.body {
    background-color:#dbe9d8; 
}

.menuitem{
    font-size:20px;
}

.required {
    font-weight:bold;
}

a:link {

}

a:visited{
color:red;
}

a:hover{
font-weight:bold;
}

a:active{
text-decoration:none;
}


#beverages {
    padding: 5px 0px 5px 10px;
}