

* {
    /*color:cornflowerblue;*/
    background-color: antiquewhite;
}

.center {
    text-align:center;
}

#link-container {
    text-align:center;
}

#link {
    text-decoration: none;
    color:darkcyan;
}